*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(223, 240, 240);
    font-family: 'Lucida Sans';
}
.wrapper{
    margin: auto;
    width: 50%;
}
.first_class{
    padding: 25px 20px 27px;
    background-color: whitesmoke;
    font-size: medium;
}
.first_class h2{
    color: rgb(17, 158, 139);
    line-height: 50pt;
}
.first_class h4{
    color: rgb(169, 204, 14);
    line-height: 35pt;
}
.first_class p{
    color: gray;
    font-weight: 700;
    font-size: small;
    line-height: 20pt;
}
.second_class{
    display: flex;
    flex-direction: row;
    color: white; 
}
.second_class h4{
    line-height: 40pt;
}
.first{
    background-color: rgb(17, 116, 116); 
    padding: 30px 20px; 
    align-items: center;
    justify-content: center;
}
.first p{
    line-height: 15pt;
    font-size: medium;
}
.sign-up{
    background-color: rgb(158, 190, 11);
    color: white;
    line-height: 10pt;
    font-size: 16pt;
    position: relative;
    border: none;
    align-self: center;
    height: 30pt;
    width: 120pt;
}
.second ul{
    list-style-type: none;
    list-style: none;
    font-size: 12pt;
    line-height: 15px;
    background-color: rgb(24, 167, 167);
    font-weight: lighter;
}
.second{
    background-color: rgb(24, 167, 167);
}
